body{
    background-color: #8b77fa;
    background: -webkit-linear-gradient(to right, #b4a9f1, #9c8df5, #8b77fa);
    background: linear-gradient(to right, #b4a9f1, #9c8df5, #8b77fa);
}

#join-btn{
    position: fixed;
    top: 65%;
    left: 50%;
    margin-top: -50px;
    margin-left: -120px;
    font-size: 18px;
    padding: 20px 40px;
}

#video-streams{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(800px,2fr));
    height: 90vh;
    width: 1300px;
    margin: 0 auto;
}

.video-container{
    max-height: 100%;
    border: 2px solid #fff;
    background-color: #b4a9f1;
}

.video-player{
    height: 97%;
    width: 100%;
    text-align: center;
}

#username {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 16px;
}

.formE {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.formE input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formE input:focus {
    border: 1px solid #6c117b;
}

.formE label {
    font-size: 14px;
    font-weight: 600;
}

.btn {
    background-color: #6c117b;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #f8c304;

}

button{
    border: none;
    background-color: #6c117b;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
}

#stream-controls{
   display: none; 
   justify-content: center;
   margin-top: 0.5em;
}

@media screen and (max-width:1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
    }
}